{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
</head>
<body>
    <div id="navigation">
        <nav>
            <img src="{% static 'logo2.png' %}">
            <ul>
                <li><a href="{% url 'home:homee' %}">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li id="login"><a href="{% url 'accounts:login_as' %}">Log in</a></li>
            </ul>
        </nav>
    </div> 
    <div id="box1">
        <div id="box2">
            <div id="content">
            <h1>S Nazeer Ahammed</h1>
            <p>I am a lifelong learner and an electronics enthusiast who is passionate about science and technology. I want to be part of the revolution where like minded people can pile up their resources, energy and time into building something which is useful to the society. True engineering is done when something that doesn't exist can be willed into existence using appropriate tools and technologies.</p>
            <br>
            <h1>Arnav Mathur</h1>
            <p>I am a nature lover with profound interest in science.
                I am also an enthusiastic coder with curiosity and the passion to learn more and more and apply my skills wherever needed. </p>
            <br>
            <h1>Aditya Pai</h1>
            <p>I am an electronics enthusiast with burning a passion for biology, puzzles and communication. When it comes to technology there is very little that ceases to pique my interest.I vehemently believe that technology is the absolute future of our world. 
                With like minded individuals by my side equipped with values that align with my own I strive to bring forward significant change to every facet of our daily life.</p>
            <br>
        </div>
        </div>

    </div>  
    <footer>
        <p id="footer_stuff">Our mission is to provide free, quality health education to anyone, anywhere.</p>
    </footer>
</body>
</html>