*{
    padding: 0px;
    margin: 0px;
}

#navigation{
    background-color: #63B457;
    position: fixed;
    top:0;
    z-index: 1000;
    width:100%;
}

nav{
    overflow: hidden;
    position: relative;
    height:60px;
    border-bottom:5px solid #1E8941;
}

nav li{
    margin-left: 10px;
    display: inline-block;
    padding-right: 50px;
    font-size:35px;
    text-shadow: 2px 2px 2px #1E8941;
    text-decoration: none;
    padding-top:10px;
    
}

nav li a{
    text-decoration: none;
    color: black;
}

img{
    float:left;
    height: 60px;
    width:60px;
}

#login{
    position:absolute;
    right:15px;
}

#box1{
    padding-top:50px;
    height:595px;
    width:100%;
    background-image: url('background-image4.jpg');
    display: grid;
    place-items: center;
}

#box2{
    height:525px;
    width:1200px;
    background-color: rgba(255,255,255,0.75);
    border-radius: 35px;
    overflow:hidden;
    font-family: cursive;
    font-weight:800;
}

#box2 h1{
    margin-top:15px;
    padding-left:25px;
    font-size: 30px;
    font-weight:800;
}

#box2 p{
    padding-left: 25px;
    font-size:20px;
    font-weight:800;
    padding-right:25px;
}
footer{
    border-top:5px solid black;
    height:75px;
    width:100%;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
}

#footer_stuff{
    font-size:22px;
    margin-top: 15px;;
}