{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HydraHealth</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div id="navigation">
        <nav>
            <img src="{% static 'logo2.png' %}">
            <ul>
                <li><a href="{% url 'home:homee' %}">Home</a></li>
            </ul>
        </nav>
    </div>
    <div id="box1">
        
        <div id="box2">
            <div id="box3">
                <p style="font-size: 30px;color:black;text-align: center;padding-top: 25px;">Login as Student</p>
                <form  method="post" >
                    {% csrf_token %}
                    <p id="email-p">Email</p>
                    <input id="email" class="text_input" type="text" name="email">
                    <br>
                    <p id="pass-p">Password</p>
                    <input id="password" class="text_input" type="password" name="password">
                    <br>
                    <input id="button" type="submit" value="Log in">
                </form>
            </div>
        </div>
        
    </div>

</body>
</html>