*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(211,211,211);
}

#navigation{
    position: fixed;
    top:0;
    z-index: 1000;
    width:100%;
}

nav{
    overflow: hidden;
    position: relative;
    height:60px;
    background-color: #63B457;
    border-bottom: 5px solid #1E8941;
}

nav li{
    margin-left: 10px;
    display: inline-block;
    padding-right: 50px;
    font-size:35px;
    text-shadow: 2px 2px 2px #1E8941;
    text-decoration: none;
    padding-top:10px;
}

nav li a{
    text-decoration: none;
    color: black;
}

img{
    float:left;
    height: 60px;
    width:60px;
}

#logout{
    position:absolute;
    right:15px;
}

#HydraHealth{
    font-size: 35px;
    font-weight: 800;
}

#name{
    position: absolute;
    right: 150px;
}

#body{
    padding-top:60px;
    height: 100vh;
    width:100%;
    display: inline-block;
    position: relative;
}
#sidepanel{
    height:100vh;
    width:15%;
    position:absolute;
    top:0;
    left:0;
    background-color:rgb(221,221,221);
    box-sizing: border-box;
    overflow: hidden; 
    background-color: rgb(211,211,211);
    /*border-right:5px solid rgb(100,100,100);*/ /*not working properly here*/
    display: flex; /* Use flexbox to center the button vertically */
    justify-content: center;
}

#sidepanel button{
    height: 35px;
    position: absolute;
    top:25px;
    width:100px;
    border-radius: 10px;
    font-size: 22px;
    background: linear-gradient(to left top, rgb(211,211,211), rgb(255,255,255));
    border:0px;
}

#sidepanel button:hover{
    box-shadow: 5px 5px 5px grey;
}
#sidepanel button:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#content{
    height:92%;
    width:85%;
    position:absolute;
    top:0;
    left:15%;
    background-color:rgb(211,211,211);
    /*background: (to right, rgb(211,211,211)1%, rgb(100,100,100)200%);*/
    padding:25px;
}

#back{
    position: absolute;
    right: 10%;
}

#back{
    height: 35px;
    position: absolute;
    top:25px;
    width:125px;
    border-radius: 10px;
    font-size: 22px;
    background: linear-gradient(to left top, rgb(211,211,211), rgb(255,255,255));
    border:0px;
}

#back:hover{
    box-shadow: 5px 5px 5px grey;
}
#back:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
#inner-content{
    position: relative;
}
#inner-content p{
    padding-top: 15px;
    width:90%;
    font-size: 20px;
}
#img1{
    padding-top: 15px;
    height: 150px;
    width:150px;
    position: absolute;
    left:350px;
}
#p2{
    position: absolute;
    top:250px;
}
#img2{
    padding-top: 15px;
    height: 150px;
    width:150px;
    position: absolute;
    left:350px;
    top:315px;
}
#p3{
    position: absolute;
    top:480px;
}
#p4{
    position: absolute;
    top:610px;
}

#p5{
    position: absolute;
    top:700px;
}

#img3 , #img4 , #img5{
    position: absolute;
    top: 900px;
    height:125px;
    width:125px;
}
#img4{
    left: 350px;
}
#img5{
    left: 700px;
}

#last{
    position: absolute;
    top: 1050px;
    font-size: 25px;
    font-weight: 600;
}